.nav{
  background-color: #bdc3c7;
  position: sticky;
  
}

.css{
  display: inline-block;
  flex-direction: row;
  margin-left: 20px;
  width: 200px;
  margin-top: 40px;
  

 
}

.title{
  margin-left: 55px;
  
}
